<!DOCTYPE html>
<html class="no-js fontawesome-i2svg-active fontawesome-i2svg-complete" lang="en" data-bs-theme="light" style="height: 100%;">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="csrf-token" content="QfZeg2Tb7pQvwUg6AJO4IpDW0DTYJ0sCoPPtd6O8">
    <title>Swap USD to Bitcoin - CAPITAL SWIFT BANK</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Swift and Secure Money Transfer to any UK bank account will become a breeze with PIXEL VERSE BANK.">

    <!-- All your existing styles -->
    <style type="text/css">
      :host,:root{--fa-font-solid:normal 900 1em/1 "Font Awesome 6 Solid";--fa-font-regular:normal 400 1em/1 "Font Awesome 6 Regular";--fa-font-light:normal 300 1em/1 "Font Awesome 6 Light";--fa-font-thin:normal 100 1em/1 "Font Awesome 6 Thin";--fa-font-duotone:normal 900 1em/1 "Font Awesome 6 Duotone";--fa-font-brands:normal 400 1em/1 "Font Awesome 6 Brands"}
      svg:not(:host).svg-inline--fa,svg:not(:root).svg-inline--fa{overflow:visible;box-sizing:content-box}
      /* ... (all your long Font Awesome styles remain unchanged) ... */
    </style>

    <link rel="shortcut icon" href="https://pixelmarkeverse.com/storage/app/public/photos/vfrIHvABt6idQp5IfHdDn5z1qz6Ul3GBMRL2x0tE.jpg">
    <link rel="stylesheet" href="/dash2/libs/%40fortawesome/fontawesome-pro/css/all.min.css">
    <link href="/dash2/konanauth/public/asset/fonts/fontawesome/css/all.css" rel="stylesheet" type="text/css">
    <link href="/dash2/public/dashboard/plugins/custom/leaflet/leaflet.bundle.css" rel="stylesheet" type="text/css">
    <link href="/dash2/konanauth/public/dashboard/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css">
    <link href="/dash2/konanauth/public/dashboard/css/style.bundle.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css">
    <link rel="stylesheet" href="https://pixelmarkeverse.com/dash2/konanauth/public/vendor/megaphone/css/megaphone.css">

    <!-- Custom Styles -->
    <style>
      @font-face { font-family: Graphik; font-weight: 400; src: url("dash2/konanauth/public/public/asset/fonts/Graphik/GraphikRegular.otf"); }
      @font-face { font-family: Graphik; font-weight: 700; src: url("dash2/konanauth/public/asset/fonts/Graphik/GraphikMedium.otf"); }
      @font-face { font-family: Graphik; font-weight: 800; src: url("dash2/konanauth/public/asset/fonts/Graphik/GraphikBold.otf "); }
      @font-face { font-family: Graphik; font-weight: 900; src: url("dash2/konanauth/public/asset/fonts/Graphik/GraphikMedium.otf"); }
      body { font-family: "Graphik", sans-serif; }
      .page-loading { position: fixed; top: 0; right: 0; bottom: 0; left: 0; width: 100%; height: 100%; background-color:#ffffff; visibility: hidden; z-index: 9999; }
      .page-loading.active { opacity: 1; visibility: visible; }
    </style>

    <!-- SweetAlert2 CDN -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Smartsupp Chat -->
    <script type="text/javascript">
      var _smartsupp = _smartsupp || {};
      _smartsupp.key = 'fc996011ef78190b74f5603cd5aca584066985a5';
      window.smartsupp||(function(d) {
        var s,c,o=smartsupp=function(){ o._.push(arguments)};o._=[];
        s=d.getElementsByTagName('script')[0];c=d.createElement('script');
        c.type='text/javascript';c.charset='utf-8';c.async=true;
        c.src='https://www.smartsuppchat.com/loader.js?';s.parentNode.insertBefore(c,s);
      })(document);
    </script>
  </head>

  <body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled aside-fixed aside-default-enabled" style="position: relative; min-height: 100%; top: 0px;">
    
    <div class="d-flex justify-content-center">
      <div id="google_translate_element"></div>
    </div>

    <div class="d-flex flex-column flex-root">
      <div class="page d-flex flex-row flex-column-fluid">
        
        <!-- SIDEBAR - FULL IDENTICAL TO DASHBOARD -->
        <div id="kt_aside" class="aside aside-default bg-white aside-hoverable drawer drawer-start" data-kt-drawer="true" data-kt-drawer-name="aside" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'200px', '300px': '250px'}" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_aside_toggle" style="width: 250px !important;">
          <div class="aside-logo flex-column-auto pt-9 pb-5" id="kt_aside_logo">
            <a href="/dashboard">
              <img alt="Logo" src="/storage/app/public/photos/gkgr73S0C0AVl3XX0UUQh8Ffr0fmzCSK4EhmlcPQ.jpg" class="logo-default" style="height:auto; max-width:30%;">
              <img alt="Logo" src="/storage/app/public/photos/gkgr73S0C0AVl3XX0UUQh8Ffr0fmzCSK4EhmlcPQ.jpg" class="h-50px logo-minimize" style="height:auto; max-width:30%;">
            </a>
          </div>
          <div class="aside-menu flex-column-fluid">
            <div class="menu menu-column menu-fit menu-rounded menu-title-dark menu-icon-dark menu-state-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500 fw-bold fs-5 my-5 mt-lg-2 mb-lg-0" id="kt_aside_menu" data-kt-menu="true">
              <div class="menu-fit hover-scroll-y me-lg-n5 pe-lg-5" id="kt_aside_menu_wrapper" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-height="auto" data-kt-scroll-wrappers="#kt_aside_menu" data-kt-scroll-offset="20px">

                <!-- FULL NAVIGATION MENU - SAME AS DASHBOARD -->
                <div class="menu-item"><a class="menu-link" href="/dashboard"><span class="menu-icon"><svg class="svg-inline--fa fa-house fs-3" ...></svg></span><span class="menu-title">Dashboard</span></a></div>
                <div class="menu-item"><a class="menu-link" href="/accounthistory/<%= user._id %>"><span class="menu-icon"><svg class="svg-inline--fa fa-wave-pulse fs-3" ...></svg></span><span class="menu-title">Transactions</span></a></div>
                <div class="menu-item"><a class="menu-link" href="/transferHistory/<%= user._id %>"><span class="menu-icon"><svg class="svg-inline--fa fa-wave-pulse fs-3" ...></svg></span><span class="menu-title">Transfer-records</span></a></div>
                <div class="menu-item"><a class="menu-link" href="/localtransfer"><span class="menu-icon"><svg class="svg-inline--fa fa-paper-plane-top fs-3" ...></svg></span><span class="menu-title">Local Transfer</span></a></div>
                <div class="menu-item"><a class="menu-link" href="/internationaltransfer"><span class="menu-icon"><svg class="svg-inline--fa fa-building-columns fs-3" ...></svg></span><span class="menu-title">International Wire Transfer</span></a></div>
                <div class="menu-item"><a class="menu-link" href="/deposits"><span class="menu-icon"><svg class="svg-inline--fa fa-download fs-3" ...></svg></span><span class="menu-title">Deposit</span></a></div>
                <div class="menu-item"><a class="menu-link" href="/card"><span class="menu-icon"><svg class="svg-inline--fa fa-credit-card fs-3" ...></svg></span><span class="menu-title">Virtual Card</span></a></div>
                <div class="menu-item"><a class="menu-link" href="/loan"><span class="menu-icon"><svg class="svg-inline--fa fa-coin fs-3" ...></svg></span><span class="menu-title">Loan Request</span></a></div>
                <div class="menu-item"><a class="menu-link" href="/viewloan/<%= user._id %>"><span class="menu-icon"><svg class="svg-inline--fa fa-arrow-right-arrow-left fs-3" ...></svg></span><span class="menu-title">Loan History</span></a></div>
                <div class="menu-item"><a class="menu-link" href="/account-settings"><span class="menu-icon"><svg class="svg-inline--fa fa-gear fs-3" ...></svg></span><span class="menu-title">Settings</span></a></div>
                <div class="menu-item"><a class="menu-link" href="/support"><span class="menu-icon"><svg class="svg-inline--fa fa-clipboard-list-check fs-3" ...></svg></span><span class="menu-title">Support Ticket</span></a></div>
                <div class="menu-item"><a class="menu-link" href="/logout"><span class="menu-icon"><svg class="svg-inline--fa fa-arrow-right-from-bracket fs-3" ...></svg></span><span class="menu-title">Logout</span></a></div>
              </div>
            </div>
          </div>
        </div>

        <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
          
          <!-- HEADER - IDENTICAL TO DASHBOARD (user menu, etc.) -->
          <div id="kt_header" class="header" data-kt-sticky="true" data-kt-sticky-name="header" data-kt-sticky-offset="{default: '200px', lg: '300px'}">
            <div class="container-fluid d-flex align-items-stretch justify-content-between">
              <!-- Your full header with user dropdown -->
              <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0">
                <a href="/dashboard" class="d-lg-none">
                  <img alt="Logo" src="/storage/app/public/photos/gkgr73S0C0AVl3XX0UUQh8Ffr0fmzCSK4EhmlcPQ.jpg" style="height:auto; max-width:30%;">
                </a>
              </div>
              <div class="d-flex align-items-stretch justify-content-between flex-lg-grow-1">
                <div class="d-flex align-items-stretch"></div>
                <div class="d-flex align-items-stretch flex-shrink-0">
                  <!-- User Menu -->
                  <div class="d-flex align-items-center ms-2 ms-lg-3" id="kt_header_user_menu_toggle">
                    <div class="cursor-pointer symbol symbol-50px symbol-circle" data-kt-menu-trigger="{default: 'click'}" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
                      <div class="symbol-label fs-2 fw-bolder text-dark">
                        <img alt="" src="<%= user.image %>" width="50" height="50" style="border-radius: 50%;">
                      </div>
                    </div>
                    <!-- Dropdown menu same as dashboard -->
                  </div>
                  <!-- Aside Toggle -->
                  <div class="d-flex align-items-center d-lg-none ms-1 ms-lg-3">
                    <div class="btn btn-icon btn-icon-dark btn-active-light-primary w-30px h-30px w-md-40px h-md-40px" id="kt_aside_toggle">
                      <span class="svg-icon svg-icon-2x"><svg class="svg-inline--fa fa-bars" ...></svg></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- MAIN CONTENT -->
          <div class="content fs-6 d-flex flex-column flex-column-fluid" id="kt_content">
            <div class="container-fluid d-flex flex-stack flex-wrap flex-sm-nowrap">
              <div class="d-flex flex-column align-items-start justify-content-center flex-wrap me-2">
                <h1 class="text-dark fw-bolder my-1 fs-2">Swap USD to Bitcoin</h1>
                <p class="text-dark">Convert your available balance to Bitcoin instantly</p>
              </div>
            </div>

            <div class="container">
              <div class="card card-flush mt-6">
                <div class="card-header">
                  <h3>Swap USD to Bitcoin</h3>
                </div>
                <div class="card-body">
                  <!-- Removed plain alert divs - now handled by SweetAlert -->

                  <div class="row mb-8">
                    <div class="col-lg-6">
                      <label class="fs-5 fw-bold">Available USD Balance</label>
                      <div class="fs-2 fw-bolder text-primary"><%= user.currency %><%= user.balance.toFixed(2) %></div>
                    </div>
                    <div class="col-lg-6 text-end">
                      <label class="fs-5 fw-bold">Current BTC Balance</label>
                      <div class="fs-2 fw-bolder text-warning"><%= (user.btcBalance || 0).toFixed(8) %> BTC</div>
                    </div>
                  </div>

                  <form action="/swap/<%= user._id %>" method="POST">
                    <div class="mb-10">
                      <label class="form-label fw-bold">Amount in USD to Swap (Minimum $50)</label>
                      <input type="number" name="amount" id="usdAmount" class="form-control form-control-lg" step="0.01" min="50" placeholder="Enter USD amount" required />
                    </div>

                    <div class="mb-10">
                      <label class="form-label fw-bold">You will receive (BTC)</label>
                      <input type="text" id="btcAmount" class="form-control form-control-lg" readonly placeholder="Real-time calculation" />
                    </div>

                    <button type="submit" class="btn btn-primary btn-lg">Swap Now</button>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <!-- FOOTER -->
          <div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
            <div class="container-fluid d-flex flex-column flex-md-row flex-stack">
              <div class="text-dark order-2 order-md-1">
                <span class="text-muted fw-bold me-2">2023 ©</span>
                <a href="/dashboard" target="_blank" class="text-gray-800 text-hover-primary">CAPITAL SWIFT BANK</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- SCRIPTS -->
    <script src="/dash2/konanauth/public/dashboard/plugins/global/plugins.bundle.js"></script>
    <script src="/dash2/konanauth/plugins/global/plugins.bundle.js"></script>
    <script src="/dash2/konanauth/public/dashboard/js/scripts.bundle.js"></script>
    <script src="/dash2/konanauth/public/asset/fonts/fontawesome/js/all.js"></script>
    <script src="/dash2/konanauth/public/dashboard/js/custom/general.js"></script>
    <script src="/dash2/konanauth/public/asset/fonts/fontawesome/js/all.js"></script>

    <!-- Google Translate -->
    <script type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
      }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

    <script src="/dash2/konanauth/public/dashboard/js/alpine.js"></script>

    <!-- Page Loading -->
    <script>
      window.onload = function() {
        const preloader = document.querySelector('.page-loading');
        if (preloader) preloader.remove();
      };
    </script>

    <!-- Real-time BTC Conversion -->
    <script>
      const usdInput = document.getElementById('usdAmount');
      const btcOutput = document.getElementById('btcAmount');

      usdInput.addEventListener('input', async () => {
        const usd = parseFloat(usdInput.value) || 0;
        if (usd > 0 && usd < 50) {
          btcOutput.value = 'Minimum $50';
          return;
        }
        if (usd === 0) {
          btcOutput.value = '';
          return;
        }

        try {
          const res = await fetch('https://api.coingecko.com/api/v3/simple/price?ids=bitcoin&vs_currencies=usd');
          const data = await res.json();
          const btcPrice = data.bitcoin.usd;
          const btc = usd / btcPrice;
          btcOutput.value = btc.toFixed(8) + ' BTC';
        } catch (err) {
          btcOutput.value = 'Error fetching price';
        }
      });
    </script>

    <!-- SweetAlert2 Flash Messages -->
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const errors = <%- JSON.stringify(messages.error || []) %>;
        const successes = <%- JSON.stringify(messages.success || []) %>;

        if (errors.length > 0) {
          errors.forEach(msg => {
            Swal.fire({
              icon: 'error',
              title: 'Error',
              text: msg,
              confirmButtonColor: '#d33'
            });
          });
        }

        if (successes.length > 0) {
          successes.forEach(msg => {
            Swal.fire({
              icon: 'success',
              title: 'Success!',
              text: msg,
              confirmButtonColor: '#3085d6',
              timer: 5000,
              timerProgressBar: true
            });
          });
        }
      });
    </script>
  </body>
</html>